.globalContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    text-align: left;
}

.listContainer {
    height: 1000px;
    overflow: auto;
    padding-left: 10px;
}

.list {
    margin-left: 15px;
    padding-left: 0px;
}

.item {

}

.item:hover {
    /*background-color: green;*/
}

/* ------------------------------------------------ */
.value {
    color: black;
}


.value.arr {
    color: black;
}

.value.bool {
    font-style: italic;
    font-variant-caps: small-caps;
}

.value.null {
    font-style: italic;
}

.value.num {
}

.value.obj {
    color: black;
}

.value.str {
    font-style: italic;
}
/* ------------------------------------------------ */
